{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        {% block styles %}
          {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        {% endblock %}
    </head>
    <body>
        <div id="sideNav" class="nav-side">
            <a href="javascript:void(0)" class="close-nav">&times;</a>
            <a href="#">About</a>
            <a href="#">Locations:</a>

            {% for location in locations %}
            <a href="/location/{{location.id}}">{{location.name}}</a>
            {% empty %}
            <a href="#">There are no locations</a>

            {% endfor %}
            <hr>
            <div class="locations">
            </div>

            <div class="footer">
                <div class="row">
                    <div class="col-md-12 social-buttons">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a
                                    href="https://twitter.com/richiewaweru" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="tooltip-test" title="follow me"
                                    href="https://facebook.com/richywaweru" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="tooltip-test" title="follow me"
                                    href="https://www.linkedin.com/in/sophia-njeri-murage-b14073b5/" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="tooltip-test" title="follow me"
                                    href="https://github.com/SophiaNM" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <p>Copyright &copy; 2018 All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light" id="navMain">
            <div class="container navigation header_right wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">


          <a class="navbar-brand" href="#">Sunsplash</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CATEGORY</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link open-nav" style="cursor:pointer">LOCATION</a>
              </li>


            </ul>
            <ul class="navbar-nav left">
                <a class="nav-item nav-link ml-auto" href="https://github.com/SophiaNM" target="_blank"><i class="fab fa-github"></i></a>
                <a class="nav-item nav-link ml-auto" href="https://www.linkedin.com/in/sophia-njeri-murage-b14073b5/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="nav-item nav-link ml-auto" href="https://www.linkedin.com/in/sophia-njeri-murage-b14073b5/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="nav-item nav-link ml-auto" href="https://www.linkedin.com/in/sophia-njeri-murage-b14073b5/" target="_blank"><i class="fab fa-facebook"></i></a>


            </ul>
          </div>
          </div>
        </nav>
    </body>
</html>
